$Black:#000000;
$Bg:#f5f5f5;
$Footer_bg: #041C53;
$White: #ffffff;
$FacebookBtn:#7084B4;
$TwitterBtn:#7EBDF4;
$Caution:#A71C1C;
$ImageArea:#999999;
$SubmitButton:#FCF1A6;
$ImputAreaBorderColor:#BBBBBB;
$TextLink:#F88C8C;
$MenuBg:#EAEAEA;
$Text:#666666;
$ProjectDiffusion:#FCF1A6;
$ProjectApply:#FDD6D6;
$ProjectVote:#cbdff0;
$ProjectEntry:#d7eed2;
$DialogBg:rgba(0,0,0,.5);
